<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.marchah.example.uicomponent" >

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SelectableTypeEditText_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".SelectableTypeEditTextPanel_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DateTimePicker_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".DateTimePickerDialog_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".OrientableTextView_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name=".CameraView_Demo_Activity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>
